<div class="container">
  <div class="elements">
    <h1 class="title">Aptitudes</h1>
    <h2 class="subtitle">Tecnologías:</h2>
    <img src="assets/img/html-5.svg" alt="Tecnologías" class="icon">
    <img src="assets/img/css-3.svg" alt="Tecnologías" class="icon">
    <img src="assets/img/js.svg" alt="Tecnologías" class="icon">
    <img src="assets/img/typescript.svg" alt="Tecnologías" class="icon">
    <img src="assets/img/unity.svg" alt="Tecnologías" class="icon">
    <p class="text">FrontEnd</p>
    <img src="assets/img/mongodb.svg" alt="Tecnologías" class="icon">
    <img src="assets/img/nodejs.svg" alt="Tecnologías" class="icon">
    <img src="assets/img/express.svg" alt="Tecnologías" class="icon">
    <img src="assets/img/c-sharp.svg" alt="Tecnologías" class="icon">
    <p class="text">BackEnd</p>
    <h2 class="subtitle">FrameWorks:</h2>
    <img src="assets/img/angular.svg" alt="Tecnologías" class="icon">
    <img src="assets/img/jquery.svg" alt="Tecnologías" class="icon">
  </div>
</div>