<div class="container">
  <div class="elements">
    <div class="perfil">
      <img src="assets/img/Photo.svg" alt="FotoPerfil">
    </div>
    <h1 class="title">Juan Diego García</h1>
    <p class="text">Ingeniero de Sistemas en formación; Interesado por el desarrollo de software,videojuegos y
      experiencias en Realidad Aumentada/Virtual. Desarrollador de Software con amplios conocimientos en
      Javascript,NodeJS, Angular, Java, C#, GIT, MongoDB, SQL, Unity.</p>
    <input type="button" value="Descargar CV" class="btn">
  </div>
</div>