<div class="container">
  <h1 class="title">Experiencia:</h1>
  <div class="elements">
    <div class="xp">
      <h2 class="subtitle">Desarrollador .NET:</h2>
      <p class="text"><b>Imaginamos - Jornada completa</b>
        <br>Septiembre 2022 - Actualidad<br>
        Aptitudes: Desarrollo Front-End,<br>
        Desarrollo Back-End,<br>
        Bases de datos.
      </p>
    </div>
    <div class="xp">
      <h2 class="subtitle">Semillero de investigación:</h2>
      <p class="text"><b>Sena - Jornada parcial</b>
        <br>Mayo 2020 - Septiembre 2022<br>
        Investigador AR/VR.<br>
        Desarrollador de experiencias en AR/VR.<br>
        Profesor de experiencias en AR/VR.<br>
      </p>
    </div>
    <div class="xp">
      <h2 class="subtitle">Freelance:</h2>
      <p class="text"><b>Autónomo</b>
        <br>Abril 2016 - Actualidad<br>
        Desarrollador de experiencias en AR/VR: Unity<br>
        Front-End : JavaScript, Angular, TypeScript<br>
        Back-End : NodeJs, MongoDB, Express.
      </p>
    </div>

  </div>
</div>